/* work san font from google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,800;1,800&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header style Start */
.header-container {
    height: 130px;
    padding-top: 20px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-left: 240px;
    margin-right: 240px;
}

/* .nav-items {
    margin-left:
} */

.left-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.left-logo h2 {
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}

span.pink {
    color: #FF42A5;
}

.frame {
    width: 86px;
    height: 40px;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 18px;
}

nav li a {
    text-decoration: none;
    color: #3C354F;
}

nav>ul p {
    font-weight: 500;
    font-size: 18px;
}

.box {
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 250px;
    height: 25px;
    align-items: center;
    gap: 24px;
    padding: 24px;
}

.right-nav-ul {
    align-items: center;
}

/* Banner style start */
.banner-container {
    width: 1920px;
    height: 600px;
}

.banner-content-left {
    background-image: url("/images/Group\ 14.png");
    width: 901px;
    height: 700px;
    padding-left: 240px;
    margin-left: 240px;
    margin-top: 85px;
}

.banner-content-left h2 {
    padding-top: 148px;
}

.banner-content-left h1 {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.text-style-gredient {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;
}

.banner-content-right {
    padding-left: 0px;
}

.box-play {
    display: flex;
    gap: 20px;
    align-items: center;
}

.box-dload {
    display: flex;
    gap: 20px;
    align-items: center;
}

.box-group {
    display: flex;
    gap: 20px;
    align-items: center;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pink-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    border: none;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.blue-btn {
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.cta-btn-section {
    margin: 0px;
    padding-top: 0px;
}

/* We are Gamer Secton Start */





/* We are Gamer section end */

/* Online Games Funny Video Section Start */

.online-games {
    text-align: center;
    padding: 0px;
    margin-top: 120px;
    margin-bottom: 0px;
}

.text-info h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.text-info p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
    padding-top: 0px;
}

.funny-vid {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

/* Vide section end */


/* Card Styles start */
.card-section {
    display: flex;
    align-content: center;
    padding-left: 420px;
    gap: 24px;
}

.card-3 {
    position: relative;
}

.card-3 img {
    width: 342px;
    height: 400px;
}

.card-3 .play-btn {
    position: absolute;
    top: 50%;
    transform: translate(-170%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #d91717;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 10px;
}

.card-info-texts {
    margin-left: 420px;
    display: flex;
    gap: 24px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

footer {
    background-color: #0B0223;
    height: 636px
}

/* Games Section styles start */
.game-list-section {
    height: 427px;
    background-color: #fcf5f5;
}
.game-list-items{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 120px;
}
.game-list-items-2{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 55px;
}
.button {
    background-color: #fcf5f5;
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50px;
    width: 243px;
    height: 80px;
}

.button-1 {
    display: flex;
    align-items: center;
    gap: 20px;
    border: none;
    background-color: white;
    color: black;
}

.button-1:hover {
    background-color: #ffffff;
    color: #f33eae;
    border: 2px solid #f33eae;
}
.button-2 {
    display: flex;
    align-items: center;
    gap: 20px;
    border: none;
    background-color: white;
    color: black;
}
.button-2:hover {
    background-color: #ffffff;
    color: #f33eae;
    border: 2px solid #f33eae;
}
.button-3 {
    display: flex;
    align-items: center;
    gap: 20px;
    border: none;
    background-color: white;
    color: black;
}

.button-3:hover {
    background-color: #ffffff;
    color: #f33eae;
    border: 2px solid #f33eae;
}

.button-4 {
    display: flex;
    align-items: center;
    gap: 20px;
    border: none;
    background-color: white;
    color: black;
}

.button-4:hover {
    background-color: #ffffff;
    color: #f33eae;
    border: 2px solid #f33eae;
}
.button-5 {
    display: flex;
    align-items: center;
    gap: 20px;
    border: none;
    background-color: white;
    color: black;
}

.button-5:hover {
    background-color: #ffffff;
    color: #f33eae;
    border: 2px solid #f33eae;
}
/* .footer-container {} */

.footer-logo {
    font-size: 45px;
    font-weight: 700;
    padding-left: 20px;
    color: #FFF;
}

.joystic-icon {
    width: 86.041px;
    height: 40px;
    gap: 20px;
}

.footer-logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
}

.footer-menue>ul {
    display: flex;
    justify-content: center;
}

.footer-menue li a {
    padding-right: 60px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.social-media a {
    padding-left: 40px;
}

.social-media {
    padding-left: 700px;
    margin-left: 220px;
    margin-top: 56px;
}

.terms-codition ul {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.terms-codition a {
    text-decoration: none;
    padding-right: 60px;
    color: rgba(255, 255, 255, 1);
}

.copyright-content {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

/* ====== RESPONSIVE SECTION ====== */
/* mobile responsive section 576px  */
@media screen and (max-width:576px) {

}
/* understand the concept but due to job pressure could not focus and 
spend time in this section, however i will do it again from scratch 
to get it perfect.*/